.gallery {
  padding: 50px;
  margin: 50px;

  display: grid;
  grid-template-columns: 300px;
  justify-content: center;
  align-items: center;
  gap: 20px;

  @media (min-width: 768px) {
    grid-template-columns: 300px 300px;
  }

  @media (min-width: 1400px) {
    grid-template-columns: 300px 300px 300px 300px;
  }

  background: linear-gradient(216deg, #ff008b, #00ffdb);
  border: 2px solid rgb(150, 150, 150);
  border-radius: 10px;

  .singer {
    border-radius: 5px;
    background-color: rgba(5, 5, 5, 0.8);
    display: flex;
    flex-direction: column;
    gap: 10px;

    &:first-child {
      .image-box {
        background-image: url("../image/Taylor-Swift-1.jpeg");
        background-position: center;
        background-size: cover;
        height: 300px;
      }
    }

    &:nth-child(2) {
      .image-box {
        background-image: url("../image/girlfriend.jpeg");
        background-position: center;
        background-size: cover;
        height: 300px;
      }
    }

    &:nth-child(3) {
      .image-box {
        background-image: url("../image/sparksfly.jpeg");
        background-position: center;
        background-size: cover;
        height: 300px;
      }
    }

    &:last-child {
      .image-box {
        background-image: url("../image/haunted.jpeg");
        background-position: right center;
        background-size: cover;
        height: 300px;
      }
    }
    h3 {
      text-align: center;
      text-transform: capitalize;
      color: white;
    }
  }
}

.pause {
  margin: 0 auto;
  width: 60px;
  height: 60px;

  &:active {
    transform: translate(1px, 1px);
  }

  i {
    font-size: 40px;
    color: #af0161;
  }
}
