.gallery {
  padding: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 20px;
  background-color: black;
  margin: 50px;
  box-shadow: 10px 10px 1px 1px rgba(240, 240, 240, 0.3);

  .singer {
    border-radius: 5px;
    background-color: rgba(239, 239, 237, 0.8);
    display: flex;
    flex-direction: column;
    gap: 10px;
    .image-box {
      width: 300px;
      height: 300px;

      img {
        height: 100%;
        width: 100%;
      }
    }
    h3 {
      text-align: center;
      text-transform: capitalize;
      color: white;
    }
  }
}
