.title {
  margin: 100px;
  transform: rotate(354deg);
  p {
    text-decoration: underline;
    margin: 0;
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    color: rgb(4, 15, 7);
    text-shadow: 5px 1px 1px rgba(4, 233, 253, 1);
    letter-spacing: 5px;
  }
}
